## SQL with python

Q1. What is a database? Differentiate between SQL and NoSQL databases.  
Ans:  
A database is a structured collection of data that is organized, stored, and managed for easy access, retrieval, and manipulation. It serves as a central repository for various types of information and supports efficient data storage, retrieval, and management.  
SQL (Structured Query Language) and NoSQL (Not Only SQL) are two main categories of databases, each with its own characteristics, use cases, and advantages. Here's a differentiation between them:  

SQL Databases:  
Structure: SQL databases use a structured schema to define the data model. Data is stored in tables with predefined columns and data types.  
Data Integrity: SQL databases emphasize strong data integrity through features like constraints, foreign keys, and transactions. ACID (Atomicity, Consistency, Isolation, Durability) properties ensure data reliability.  
Scalability: SQL databases are generally vertically scalable, which means they can handle increased load by upgrading hardware. Some modern SQL databases also support horizontal scaling to some extent.  
Query Language: SQL databases use the SQL language for querying and managing data. SQL provides a standardized way to interact with relational databases.  
Consistency: SQL databases provide strong consistency, ensuring that data remains accurate and reliable even during concurrent operations.  
Data Relationships: SQL databases are well-suited for applications with complex relationships between data entities, such as those requiring joins and foreign key relationships.  

NoSQL Databases:  
Structure: NoSQL databases offer more flexible data models and can store data in various formats, such as key-value pairs, documents, columns, or graphs.  
Data Integrity: NoSQL databases may sacrifice some level of data integrity for improved scalability and performance. ACID properties might not be fully guaranteed in all NoSQL databases.  
Scalability: NoSQL databases are designed to be horizontally scalable, making them suitable for handling large amounts of data and high traffic.  
Query Language: NoSQL databases use various query languages, depending on the type of database. Examples include JSON-like queries for document databases and custom languages for graph databases.  
Consistency: NoSQL databases offer varying levels of consistency, including strong consistency, eventual consistency, and causal consistency, depending on the database's design.  
Data Relationships: NoSQL databases excel in scenarios where data relationships are more dynamic or not well-defined. They can be more suitable for projects that involve unstructured or semi-structured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.  
Ans:  
DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that deals with defining and managing the structure of a database and its objects. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.  

CREATE: The CREATE statement is used to **create** new database objects, such as tables, indexes, and views.  
DROP:The DROP statement is used to **delete** existing database objects, such as tables, indexes, and views.   
ALTER:
The ALTER statement is used to modify existing database objects. It can be used to **add, modify, or delete columns, constraints**, and other properties of a table.  
TRUNCATE:
The TRUNCATE statement is used to **remove all data from a table**, effectively resetting it to an empty state.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.  

**DML (Data Manipulation Language)** is a subset of SQL (Structured Query Language) that deals with manipulating data stored within a database. DML statements are used to insert, update, and delete records in database tables.  

Here are explanations and examples for the commonly used DML statements:  

1. **INSERT:**
   The `INSERT` statement is used to add new records (rows) into a table.

2. **UPDATE:**
   The `UPDATE` statement is used to modify existing records in a table.

3. **DELETE:**
   The `DELETE` statement is used to remove records from a table.

Q4. What is DQL? Explain SELECT with an example.  


DQL (Data Query Language) is a subset of SQL (Structured Query Language) that deals with retrieving data from a database. DQL is primarily associated with the SELECT statement, which is used to query and retrieve data from one or more tables in a database.  

SELECT:
The SELECT statement is used to retrieve data from one or more tables based on specified conditions. It allows you to specify the columns you want to retrieve, the tables you want to query, and any filtering or sorting criteria.

Q5. Explain Primary Key and Foreign Key.  
 
**Primary Key:**  
A primary key is a unique identifier for each record (row) in a database table. It serves as a means to uniquely identify each record within the table and ensures that each record has a distinct identity. A primary key constraint guarantees that no two records in the table can have the same value for the primary key column(s).  

**Foreign Key:**  
A foreign key is a column or set of columns in one table that establishes a link between data in two tables. It creates a relationship between the tables, where the values in the foreign key column(s) of one table match the values of the primary key column(s) in another table. This relationship is used to enforce referential integrity and maintain data consistency across related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.  

To connect MySQL to Python, you can use the mysql-connector library. First, you'll need to install the library using the following command:  
**pip install mysql-connector-python**  

Python code that demonstrates how to connect to a MySQL database, use the cursor() method, and execute SQL queries using the execute() method:

In [6]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 13.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [8]:

import mysql.connector

# Establishing the connection
try:
    connection = mysql.connector.connect(
        host="localhost",
        user="your_username",
        password="your_password",
        database="your_database"
    )
    print("Connected to MySQL!")

    # Creating a cursor object
    cursor = connection.cursor()

    # Executing SQL queries
    query = "SELECT * FROM Customers"
    cursor.execute(query)

    # Fetching and printing the results
    results = cursor.fetchall()
    for row in results:
        print(row)

except mysql.connector.Error as error:
    print("Error:", error)

Error: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

Q7. Give the order of execution of SQL clauses in an SQL query.  

In an SQL query, the clauses are generally executed in the following order:  


In an SQL query, the clauses are generally executed in the following order:

SELECT: This clause is used to specify which columns you want to retrieve data from.

FROM: This clause specifies the table(s) from which you want to retrieve data.

WHERE: The WHERE clause is used to filter the rows based on specified conditions. It narrows down the data based on certain criteria.

GROUP BY: This clause is used to group the rows with similar values in specified columns.

HAVING: The HAVING clause filters the groups produced by the GROUP BY clause based on certain conditions.

ORDER BY: This clause is used to sort the result set based on specified columns. You can specify ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET: These clauses are used to restrict the number of rows returned or skip a certain number of rows.

SELECT DISTINCT: This is used to retrieve unique/distinct values from a column.

JOIN: This clause is used to combine data from multiple tables based on specified conditions.

UNION: This is used to combine the result sets of two or more SELECT statements into a single result set.

INSERT: This clause is used to insert data into a table.

UPDATE: This clause is used to modify existing data in a table.

DELETE: This clause is used to delete data from a table.